:root{
  --c-bg: #485460;
  --c-default: rgba(0, 0, 0, 0.3);
  --c-dark: rgba(0, 0, 0, 0.6);

  --c-light: #fff;
  --c-text: #d2dae2;
  --c-add: #12D469;
  --c-danger: #f53b57;
  --c-warning: #ffd32a;
  --c-primary: #0fbcf9;
  --c-highlight: #42ffcc;

  --fs-title: 1.25rem;
  --fs-big: 1.37rem;

  --fw-bold: 600;
  
}